.communitiesList {
    width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.communityItem {
    display: flex;
    justify-content: start;
    border: 1px solid #ddd;
    height: 400px;
    border-radius: 8px;
}

.communityItem img {
    height: 100%;
    max-width: 300px;
    object-fit: cover;
}

.communitiesList a {
    text-decoration: none !important;
    color: inherit;
} 

.communityInfo {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: start;
    flex-grow: 1;
}

.pageHeader {
    display: flex;
    align-items: center;
    gap: 10px;
}