.gamesWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.gamesGrid {
    display: grid;
    width: 70vw;
    grid-template-columns: repeat(5, 1fr); /* Creates 5 columns, each taking up 1 fraction of the available space */
    grid-gap: 10px; /* Optional: adds space between the grid items */
}

/* 4 columns for medium screens (1024px and above) */
@media (max-width: 1024px) {
  .gamesGrid {
      grid-template-columns: repeat(4, 1fr);
  }
}

/* 3 columns for small screens (768px and above) */
@media (max-width: 768px) {
  .gamesGrid {
      grid-template-columns: repeat(3, 1fr);
  }
}

/* 2 columns for extra small screens (480px and above) */
@media (max-width: 480px) {
  .gamesGrid {
      grid-template-columns: repeat(2, 1fr);
  }
}

/* 1 column for very small screens (below 480px) */
@media (max-width: 320px) {
  .gamesGrid {
      grid-template-columns: 1fr;
  }
}

.gamePanel {
    /* Additional styles for each game panel */
    padding: 10px; /* Example padding */
    border: 1px solid #ccc; /* Example border */
}

.gamePanel img {
    width: 100%; /* Makes the image take up the full width of the parent element */
    height: auto; /* Makes the image scale proportionally */
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.pagination button {
  background-color: white;
  color: black ;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #f8f8f8;
}

.pagination button:disabled {
color: #999;
cursor: not-allowed;
}

.gamesInputs {
  width: 100%;
  border: 1px solid black;
  border-radius: 12px;
  height: 36px;
  padding: 5px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.gamesInputs input{
  border: none;
  outline: none;
  height: 100%;
  flex-grow: 1;
  font-size: large;
  margin: 0 auto 0 10px;
}

.gamesInputs select {
  border: none;
  outline: none;
  height: 100%;
  font-size: large;
}

.gamePanel {
  transition: transform 0.3s ease-in-out;
  outline: none;
}

.gamePanel:hover {
  outline: 2px solid #313639 ; /* Change the color to offblack */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}
