.gamePage img {
    width: 100%;
    max-width: 300px; /* Set a maximum width for images */
}

.gamePage {
  width: 80vw;
  padding: 20px;
}

.gameGeneralInfo {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 10px;
  width: 100%;
}

.gameGeneralInfoFlexbox {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-right: auto;
}

.reviewsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex-grow: 1;
  margin-right: 50px;
}

.reviewsList {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.review {
  display: flex;
  flex: column;
  justify-content: start;
}

.reviewAuthor {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.reviewAuthor img {
  width: 50px;
  height: 50px;
  border-radius: 100%;

}

.reviewContent {
  padding: 10px;
}

.reviewsSimilarGamesWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gameOptions {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10px;
  min-width: 150px;
}

hr {
  width: 100%;
  margin: 10px 0;
  background-color: black;
}
  