.profilePage {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 50px;
}

.profileHeader {
    display: flex;
    height: 250px; 
    gap: 20px;
    margin-top: 25px;
}

.profileHeaderRight {
    display: block;
}

.profilePicture {
    border-radius: 100%;
    height: 80%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border: 1px solid #f0f0f0;
}

.profileHeaderTopRight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.profileHeaderTopRight button {
    margin-right: 0;
}

.favoriteGamesList {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Default is 5 columns for larger screens */
}

.favoriteGame {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.banner {
    width: 100%;
    height: 200px;
    object-fit: cover;

}

.userCounts {
    font-weight: 500    ;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}



/* For medium-sized screens, reduce to 3 columns */
@media (max-width: 1024px) {
    .favoriteGamesList {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* For smaller screens, reduce to 2 columns */
@media (max-width: 768px) {
    .favoriteGamesList {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* For very small screens, use a single column */
@media (max-width: 480px) {
    .favoriteGamesList {
        grid-template-columns: repeat(1, 1fr);
    }
}